.pagina {
    width: 100%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.5);
}

.footer {
    background-color: #212529;
    height: 100%;
    width: 100%;
}

.lacottickDir {
    border-top: 20px solid black;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    padding: 20px;
    color: white;
    width: 100%;
    text-justify: auto;
    text-align: center;
}

.lacottickBy {
    color: white;
    height: 100%;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid black;
    text-justify: auto;
    text-align: center;
}

.tituloTop {
    text-align: center;
    text-justify: center;
    color: #f2f68d;
    font-weight: 700;
    height: 100%;
}

.tituloTop:hover {
    color: blueviolet;

}

img {
    width: 75px;
    height: 50px;
}

.containerGeral {
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: 20px solid #212529;
    border-right: 25px solid rgba(137, 43, 226, 0);
    border-left: 25px solid rgba(137, 43, 226, 0);
    border-bottom: 20px solid rgba(137, 43, 226, 0);
}

.titulo {
    width: 75%;
    height: 50px;
    background-color: #f2f68d;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerDev {
    background-color: black;
    width: 75%;
    height: fit-content !important;
    padding: 5.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px -20px #f2f68d;
}

.input {
    padding: 10px !important;
    width: 100% !important;
    min-width: 10% !important;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px !important;
    border-color: #f2f68d !important;
}

.containerDev .textoInput {
    text-align: center;
    color: white;
    font-weight: 400;
}

.check {
    font-weight: 700;
    color: white;
}

.botaoConfirmar {
    font-weight: 700 !important;
    color: white !important;
    background-color: blueviolet !important;
    border-color: #f2f68d !important;
    border-radius: 100% !important;
    box-shadow: -0px 4px #f2f68d;
    margin-left: 20% !important;
}

.botaoConfirmar:hover {
    justify-items: center;
    background-color: blueviolet !important;
    border-color: blueviolet !important;
    border-radius: 100% !important;
    box-shadow: 0px 0px 20px 10px #f2f68d;
}

.botaoRejeitar {
    font-weight: 700 !important;
    color: black !important;
    background-color: #f2f68d !important;
    border-color: blueviolet !important;
    border-radius: 100% !important;
    box-shadow: -0px 4px blueviolet;
    margin-left: 40% !important;
}

.botaoRejeitar:hover {
    background-color: #f2f68d !important;
    border-color: #f2f68d !important;
    border-radius: 100% !important;
    box-shadow: 0px 0px 20px 10px blueviolet;
}

.form-check-input:checked {
    background-color: blueviolet !important;
    border-color: #f2f68d !important;
}

.posBotoes {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 7.5%;
}

.nav-link {
    border-bottom: 2px solid #f2f68d;
}

.nav-link:hover {
    border-bottom: 2.5px solid blueviolet;
}


.collapse .navbar-nav .nav-item .nav-link {
    color: white !important;
    gap: 1px;
    margin-right: 50px;
    font-weight: 500;

}

.dropdown-item:hover {
    background-color: blueviolet !important;
    font-weight: 600 !important;
    color: white !important;
    
}

.botao{
    background-color: blueviolet !important;
    border-Radius: 10px 10px 0px 0px;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    }

.botao:hover{
transform: scale(1.05);
box-shadow:0px 0px 20px 10px blueviolet;

}

